
@model Faculty

@{
ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">

            <div class="form-group">
                <label asp-for="FacultyName" class="control-label"></label>
                <input asp-for="FacultyName" class="form-control" required />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" required />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolId" class="control-label"></label>
                <select asp-for="SchoolId" class="form-control" required>
                    <option>choose School</option>
                    @foreach (var school in (IEnumerable<School>)ViewBag.Schools)
                    {
                        <option value="@school.SchoolId">@school.SchoolName</option>
                    }
                </select>
                <span asp-validation-for="SchoolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
     <button type="button" class="btn btn-secondary"  onclick="location.href='@Url.Action("Index")'">Back to List</button>
</div>